@mixin day {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
  transition: background-color 0.5s, transform 0.5s;
}

@mixin hover {
  background-color: pink;
  transform: translate(0, -20px);
}

@mixin dayweek ($day_of_week) {
  :first-child {
    @include day;
    margin-left: $day_of_week * 100px + $day_of_week - 101px;
  }

  :first-child::after {
    content: "1";
  }

  :first-child:hover {
    @include hover;
  }
}

@mixin daymoth ($day_of_moth) {
  @for $i from 2 through $day_of_moth {
    :nth-child(#{$i}) {
      @include day;
    }

    :nth-child(#{$i})::after {
      content: "#{$i}";
    }

    :nth-child(#{$i}):hover {
      @include hover;
    }
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: 708px;
}

$days: (
  "mon": 1,
  "tue": 2,
  "wed": 3,
  "thu": 4,
  "fri": 5,
  "sat": 6,
  "sun": 7
);

@each $name, $number in $days {
  .calendar-#{$name} {
    @include dayweek($number);
  }
}

@for $i from 28 to 31 {
  .calendar-#{$i} {
    @include daymoth($i);
  }
}
