@keyframes hover-day {
  from {
    background-color: #eee;
    transform: translate(0, 0);
  }
  to {
    background-color: pink;
    transform: translate(0, -20px);
  }
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: 708px;
}

.calendar-mon :first-child {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
  margin-left: 0px;
}
.calendar-mon :first-child::after {
  content: "1";
}
.calendar-mon :first-child:hover {
  animation: hover-day 0.5s forwards;
}
.calendar-tue :first-child {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
  margin-left: 101px;
}
.calendar-tue :first-child::after {
  content: "1";
}
.calendar-tue :first-child:hover {
  animation: hover-day 0.5s forwards;
}
.calendar-wed :first-child {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
  margin-left: 202px;
}
.calendar-wed :first-child::after {
  content: "1";
}
.calendar-wed :first-child:hover {
  animation: hover-day 0.5s forwards;
}
.calendar-thu :first-child {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
  margin-left: 303px;
}
.calendar-thu :first-child::after {
  content: "1";
}
.calendar-thu :first-child:hover {
  animation: hover-day 0.5s forwards;
}
.calendar-fri :first-child {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
  margin-left: 404px;
}
.calendar-fri :first-child::after {
  content: "1";
}
.calendar-fri :first-child:hover {
  animation: hover-day 0.5s forwards;
}
.calendar-sat :first-child {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
  margin-left: 505px;
}
.calendar-sat :first-child::after {
  content: "1";
}
.calendar-sat :first-child:hover {
  animation: hover-day 0.5s forwards;
}
.calendar-sun :first-child {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
  margin-left: 606px;
}
.calendar-sun :first-child::after {
  content: "1";
}
.calendar-sun :first-child:hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(2) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(2)::after {
  content: "2";
}
.calendar-28 :nth-child(2):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(3) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(3)::after {
  content: "3";
}
.calendar-28 :nth-child(3):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(4) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(4)::after {
  content: "4";
}
.calendar-28 :nth-child(4):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(5) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(5)::after {
  content: "5";
}
.calendar-28 :nth-child(5):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(6) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(6)::after {
  content: "6";
}
.calendar-28 :nth-child(6):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(7) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(7)::after {
  content: "7";
}
.calendar-28 :nth-child(7):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(8) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(8)::after {
  content: "8";
}
.calendar-28 :nth-child(8):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(9) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(9)::after {
  content: "9";
}
.calendar-28 :nth-child(9):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(10) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(10)::after {
  content: "10";
}
.calendar-28 :nth-child(10):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(11) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(11)::after {
  content: "11";
}
.calendar-28 :nth-child(11):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(12) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(12)::after {
  content: "12";
}
.calendar-28 :nth-child(12):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(13) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(13)::after {
  content: "13";
}
.calendar-28 :nth-child(13):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(14) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(14)::after {
  content: "14";
}
.calendar-28 :nth-child(14):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(15) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(15)::after {
  content: "15";
}
.calendar-28 :nth-child(15):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(16) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(16)::after {
  content: "16";
}
.calendar-28 :nth-child(16):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(17) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(17)::after {
  content: "17";
}
.calendar-28 :nth-child(17):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(18) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(18)::after {
  content: "18";
}
.calendar-28 :nth-child(18):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(19) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(19)::after {
  content: "19";
}
.calendar-28 :nth-child(19):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(20) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(20)::after {
  content: "20";
}
.calendar-28 :nth-child(20):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(21) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(21)::after {
  content: "21";
}
.calendar-28 :nth-child(21):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(22) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(22)::after {
  content: "22";
}
.calendar-28 :nth-child(22):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(23) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(23)::after {
  content: "23";
}
.calendar-28 :nth-child(23):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(24) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(24)::after {
  content: "24";
}
.calendar-28 :nth-child(24):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(25) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(25)::after {
  content: "25";
}
.calendar-28 :nth-child(25):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(26) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(26)::after {
  content: "26";
}
.calendar-28 :nth-child(26):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(27) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(27)::after {
  content: "27";
}
.calendar-28 :nth-child(27):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-28 :nth-child(28) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-28 :nth-child(28)::after {
  content: "28";
}
.calendar-28 :nth-child(28):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(2) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(2)::after {
  content: "2";
}
.calendar-29 :nth-child(2):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(3) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(3)::after {
  content: "3";
}
.calendar-29 :nth-child(3):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(4) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(4)::after {
  content: "4";
}
.calendar-29 :nth-child(4):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(5) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(5)::after {
  content: "5";
}
.calendar-29 :nth-child(5):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(6) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(6)::after {
  content: "6";
}
.calendar-29 :nth-child(6):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(7) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(7)::after {
  content: "7";
}
.calendar-29 :nth-child(7):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(8) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(8)::after {
  content: "8";
}
.calendar-29 :nth-child(8):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(9) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(9)::after {
  content: "9";
}
.calendar-29 :nth-child(9):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(10) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(10)::after {
  content: "10";
}
.calendar-29 :nth-child(10):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(11) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(11)::after {
  content: "11";
}
.calendar-29 :nth-child(11):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(12) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(12)::after {
  content: "12";
}
.calendar-29 :nth-child(12):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(13) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(13)::after {
  content: "13";
}
.calendar-29 :nth-child(13):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(14) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(14)::after {
  content: "14";
}
.calendar-29 :nth-child(14):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(15) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(15)::after {
  content: "15";
}
.calendar-29 :nth-child(15):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(16) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(16)::after {
  content: "16";
}
.calendar-29 :nth-child(16):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(17) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(17)::after {
  content: "17";
}
.calendar-29 :nth-child(17):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(18) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(18)::after {
  content: "18";
}
.calendar-29 :nth-child(18):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(19) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(19)::after {
  content: "19";
}
.calendar-29 :nth-child(19):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(20) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(20)::after {
  content: "20";
}
.calendar-29 :nth-child(20):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(21) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(21)::after {
  content: "21";
}
.calendar-29 :nth-child(21):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(22) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(22)::after {
  content: "22";
}
.calendar-29 :nth-child(22):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(23) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(23)::after {
  content: "23";
}
.calendar-29 :nth-child(23):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(24) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(24)::after {
  content: "24";
}
.calendar-29 :nth-child(24):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(25) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(25)::after {
  content: "25";
}
.calendar-29 :nth-child(25):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(26) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(26)::after {
  content: "26";
}
.calendar-29 :nth-child(26):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(27) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(27)::after {
  content: "27";
}
.calendar-29 :nth-child(27):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(28) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(28)::after {
  content: "28";
}
.calendar-29 :nth-child(28):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-29 :nth-child(29) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-29 :nth-child(29)::after {
  content: "29";
}
.calendar-29 :nth-child(29):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(2) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(2)::after {
  content: "2";
}
.calendar-30 :nth-child(2):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(3) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(3)::after {
  content: "3";
}
.calendar-30 :nth-child(3):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(4) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(4)::after {
  content: "4";
}
.calendar-30 :nth-child(4):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(5) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(5)::after {
  content: "5";
}
.calendar-30 :nth-child(5):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(6) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(6)::after {
  content: "6";
}
.calendar-30 :nth-child(6):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(7) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(7)::after {
  content: "7";
}
.calendar-30 :nth-child(7):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(8) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(8)::after {
  content: "8";
}
.calendar-30 :nth-child(8):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(9) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(9)::after {
  content: "9";
}
.calendar-30 :nth-child(9):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(10) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(10)::after {
  content: "10";
}
.calendar-30 :nth-child(10):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(11) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(11)::after {
  content: "11";
}
.calendar-30 :nth-child(11):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(12) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(12)::after {
  content: "12";
}
.calendar-30 :nth-child(12):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(13) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(13)::after {
  content: "13";
}
.calendar-30 :nth-child(13):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(14) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(14)::after {
  content: "14";
}
.calendar-30 :nth-child(14):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(15) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(15)::after {
  content: "15";
}
.calendar-30 :nth-child(15):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(16) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(16)::after {
  content: "16";
}
.calendar-30 :nth-child(16):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(17) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(17)::after {
  content: "17";
}
.calendar-30 :nth-child(17):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(18) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(18)::after {
  content: "18";
}
.calendar-30 :nth-child(18):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(19) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(19)::after {
  content: "19";
}
.calendar-30 :nth-child(19):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(20) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(20)::after {
  content: "20";
}
.calendar-30 :nth-child(20):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(21) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(21)::after {
  content: "21";
}
.calendar-30 :nth-child(21):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(22) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(22)::after {
  content: "22";
}
.calendar-30 :nth-child(22):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(23) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(23)::after {
  content: "23";
}
.calendar-30 :nth-child(23):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(24) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(24)::after {
  content: "24";
}
.calendar-30 :nth-child(24):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(25) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(25)::after {
  content: "25";
}
.calendar-30 :nth-child(25):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(26) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(26)::after {
  content: "26";
}
.calendar-30 :nth-child(26):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(27) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(27)::after {
  content: "27";
}
.calendar-30 :nth-child(27):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(28) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(28)::after {
  content: "28";
}
.calendar-30 :nth-child(28):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(29) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(29)::after {
  content: "29";
}
.calendar-30 :nth-child(29):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-30 :nth-child(30) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-30 :nth-child(30)::after {
  content: "30";
}
.calendar-30 :nth-child(30):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(2) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(2)::after {
  content: "2";
}
.calendar-31 :nth-child(2):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(3) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(3)::after {
  content: "3";
}
.calendar-31 :nth-child(3):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(4) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(4)::after {
  content: "4";
}
.calendar-31 :nth-child(4):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(5) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(5)::after {
  content: "5";
}
.calendar-31 :nth-child(5):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(6) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(6)::after {
  content: "6";
}
.calendar-31 :nth-child(6):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(7) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(7)::after {
  content: "7";
}
.calendar-31 :nth-child(7):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(8) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(8)::after {
  content: "8";
}
.calendar-31 :nth-child(8):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(9) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(9)::after {
  content: "9";
}
.calendar-31 :nth-child(9):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(10) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(10)::after {
  content: "10";
}
.calendar-31 :nth-child(10):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(11) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(11)::after {
  content: "11";
}
.calendar-31 :nth-child(11):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(12) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(12)::after {
  content: "12";
}
.calendar-31 :nth-child(12):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(13) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(13)::after {
  content: "13";
}
.calendar-31 :nth-child(13):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(14) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(14)::after {
  content: "14";
}
.calendar-31 :nth-child(14):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(15) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(15)::after {
  content: "15";
}
.calendar-31 :nth-child(15):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(16) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(16)::after {
  content: "16";
}
.calendar-31 :nth-child(16):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(17) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(17)::after {
  content: "17";
}
.calendar-31 :nth-child(17):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(18) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(18)::after {
  content: "18";
}
.calendar-31 :nth-child(18):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(19) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(19)::after {
  content: "19";
}
.calendar-31 :nth-child(19):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(20) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(20)::after {
  content: "20";
}
.calendar-31 :nth-child(20):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(21) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(21)::after {
  content: "21";
}
.calendar-31 :nth-child(21):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(22) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(22)::after {
  content: "22";
}
.calendar-31 :nth-child(22):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(23) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(23)::after {
  content: "23";
}
.calendar-31 :nth-child(23):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(24) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(24)::after {
  content: "24";
}
.calendar-31 :nth-child(24):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(25) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(25)::after {
  content: "25";
}
.calendar-31 :nth-child(25):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(26) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(26)::after {
  content: "26";
}
.calendar-31 :nth-child(26):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(27) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(27)::after {
  content: "27";
}
.calendar-31 :nth-child(27):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(28) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(28)::after {
  content: "28";
}
.calendar-31 :nth-child(28):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(29) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(29)::after {
  content: "29";
}
.calendar-31 :nth-child(29):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(30) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(30)::after {
  content: "30";
}
.calendar-31 :nth-child(30):hover {
  animation: hover-day 0.5s forwards;
}
.calendar-31 :nth-child(31) {
  text-align: center;
  line-height: 100px;
  margin: 1px 1px 0 0;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  font-size: 30px;
}
.calendar-31 :nth-child(31)::after {
  content: "31";
}
.calendar-31 :nth-child(31):hover {
  animation: hover-day 0.5s forwards;
}

/*# sourceMappingURL=style.css.map */
